@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');

html {
    height:100vh;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #cdcdcd;
    font-family: 'Saira Condensed', sans-serif;
}

  
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ff347f 50%, #ff9776 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.bg3 {
    animation-duration:5s;
}
  
  
@keyframes slide {
    0% {
      transform:translateX(-25%);
    } 100% {
      transform:translateX(25%);
    }
}


.main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 20px;
}

.main-content h1{
    font-size: 60px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: #ededed;
}

.main-content p{
    cursor: pointer;
    font-weight: lighter;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#user:hover{
    color:palevioletred;
   
}

#user{
    margin: -20px 0;
    font-size: 25px;
}

#play-btn{
    font-family: 'Urbanist', sans-serif;
    border: none;
    background-color: #ff4f8f;
    padding: 10px 30px;
    color: #ededed;
    border-radius: 20px;
    font-size: 30px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#play-btn:hover{
    background-color: #fa74a5;
}


#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 35px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #ededed;
    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: palevioletred;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: rgba(30, 30, 30, 0.9);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ededed;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 90px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(30, 30, 30, 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

#logout{
    position: relative;
    bottom: -550px;
    left: -15px;
}