@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    font-family: 'Saira Condensed', sans-serif;
    
}

.register-login{
    position: relative;
    padding: 20px 30px;
    width: 400px;
    height: 550px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
}

.inner-register-login{
    display: flex;
    flex-direction: row;
}

.login-container{
    position: relative;
    right: 190px;
    top: 90px;
}

.register-container{
    position: relative;
    left: 10075px;
    top: 50px;
}

.switcher{
    position: absolute;
    top: 7px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.register-login input{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f6f6f6;
    padding-left: 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}

#class{
    width: 262px;
    height: 33px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f6f6f6;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}

.register-login h2{
    color: palevioletred;
    font-size: 35px;
}

.register-container button{
    width: 155px;
    height: 43px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #f6f6f6;
    background-color: palevioletred;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    position: absolute;
    left: 20%;
}

.login-container button{
    width: 155px;
    height: 43px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #f6f6f6;
    background-color: palevioletred;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    position: absolute;
    left: 20%;
}

.register-container,.login-container{
    position: relative;
}

#error-msg-log,#error-msg{
    margin-top: 40px;
    color: #f6f6f6;
    text-align: center;
}

#register-switch,#login-switch{
    font-size: 20px;
    background-color: none;
    width: 100px;
    text-align: center;
    border-radius: 1.5em;
    color: #f6f6f6;
    padding-bottom: 3px;
    cursor: pointer;
}



.active-switch{
    background-color: palevioletred;
}

.active-switch:hover{
    background-color: rgb(213, 133, 160);
}


.register-login input::placeholder{
    color: #cdcdcd;
    font-family: 'Saira Condensed', sans-serif;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ff347f 50%, #ff9776 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.bg3 {
    animation-duration:5s;
}
  
  
@keyframes slide {
    0% {
      transform:translateX(-25%);
    } 100% {
      transform:translateX(25%);
    }
}

#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 35px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #ededed;
    transition: color 0.3s ease;
    font-family: 'Saira Condensed', sans-serif;
}

#menuToggle a:hover
{
    color: palevioletred;
}


#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: rgba(30, 30, 30, 0.9);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ededed;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 90px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(30, 30, 30, 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

#logout{
    position: relative;
    bottom: -550px;
    left: -15px;
}